.left-container {
    margin: 20px 60px;

    .band-name {
        margin: 15px 0;
        padding: 10px 10px;

        .band-image {
            img {
                object-fit: cover;
                border-radius: 50%;
                margin-left: 20px;
            }
        }

        .band-title {
            color: #fff;
            padding: 35px 0px 15px 70px;
            text-align: center;

            h2, h4 {
               letter-spacing: 2px;
               font-size: 30px; 
            }
        }
    }

    .video-preview {
        margin: 10px 0;
    }

    .social-links {
        margin: 40px 0;
        display: flex;
        justify-content: center;
        
        a {
            color: #fff;
            text-align: center;
            width: 100px;
            display: block;
            padding: 15px 0;
            border-radius: 3px;
            font-size: 30px;
            margin: 0 20px;
        }

        .twitter {
            &:hover{
                color: #000;
                background: #1da1f2;
            }
        }
        .youtube {
            &:hover{
                color: #000;
                background: #ff0000;
            }
        }
        .instagram {
            &:hover{
                color: #000;
                background: #f77737;
            }
        }
        .spotify {
            &:hover{
                color: #000;
                background: #1db954;
            }
        }
    }
}