.right-container {
    margin: 20px 30px;

    .search-container {

        .title-container {
            display: flex;
            justify-content: space-between;
            margin: 15px auto;
            padding: 15px;

            .subtitle, .watch-icon {
                font-size: 28px;
                color: #fff;
            }
        }

        .dates-cards {
            border: 1px #000 solid; //* Estilo temporal
            color: #fff;
            display: flex;
            font-size: 20px;
            margin: 10px auto;
            padding: 10px;
            justify-content: space-around;

            .stadium {
                display: inline-block;
                margin-left: 95px;
            }

            .calendar {
                font-size: 30px;
                margin-right: 10px;
            }
        }
    }

    .div-carousel {
        margin: 30px auto;
        .carousel-inner {
            height: 350px;
        }
    }
}