*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    clear: both;
}

footer {
    background-color: #393e46;
    bottom: 0;
    width: 100%;
    height: 50px;

    .container-footer {
        padding-top: 7px;
        .social-icons {
            a {
                margin-left: 20px;
            }
        }
    }
}

//* Media Queries
@media only screen and (max-width: 960px) {
    .social-icons {
        justify-content: center;
    }
}