//* Imports
@import './imports/body.scss';
@import './imports/media.scss';

//* Diseño General

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:grey;
}