@media only screen and (max-width: 900px) {
    body {
        background-position: center center;
        background-size: auto;
    }
    
    .container-titulo {
      .find-concerts {
        font-size: 50px;
      }
    }

    .container-form , .container-redes {
      padding-left: 0px;
      padding-right: 0px;
    }
}
  
  @media only screen and (max-width: 600px) {
    .container-form , .container-redes {
      padding-left: 0px;
      padding-right: 0px;
    }
    
    span {
      font-size: 18px;
    }
  }