.contenedorImagen{
    border: 10px solid #201f1f;
    margin: 10px 0px 10px 90px ;
    padding: 20px;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    background-color: #323232;
    background-color: rgba(50, 50, 50, 0.4);

    img{
        object-fit: cover;
        width: 1000px;
        height: 400px;
        border-radius: 15px;
    }
}

.contenedorInformacion{
    border: 10px solid #201f1f;
    margin: 20px 0px 20px 105px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(50, 50, 50, 0.4);
    width: fit-content;

    .informacion{
        text-align: center;
        margin-left: 0px;
        padding: 20px;
        width: fit-content;

        .div-informacion{
            padding: 15px;
            color: #fff;
            width: 560px;
            height: 265px;
            border-radius: 2%;
            max-height: 500px;

            .div-locacion {
                margin: 7px auto;
                padding: 15px;
                text-align: center;
            }
        }
    }

    .perfil{
        border: 1px solid #201f1f;
        margin-top: 20px;
        margin-left: 120px;
        text-align: center;
        background-color: #165f87;
        background-image: linear-gradient(135deg, #165f87 14%, #1a3c52 34%, #161b26 68%, #151518 84%);
        padding: 25px;
        width: fit-content;
        color: #ffffff;

        img{
            height: 130px;
            width: 130px;
            border-radius: 100%;
            margin-bottom: 25px;
        }
    }
}

.contenedorBotones{
    margin: 20px 0px 20px 20px;
    padding: 15px;
    border-radius: 15px;
    width:fit-content;

    button{
       margin: 30px 0 30px 0px;
       padding: 0px 20px 0px 20px;
       height: 60px;
       font-size: 20px;
       text-align: center;
       width:150px;
    }

    .link-button {
        &:hover {
            color: #fff;
        }
        a {
            text-decoration: none;
            color: green;
            &:hover {
                color: #fff;
            }
            
        }
    }
}