.container-titulo {
    color: #76d0d4;
    margin-top: 15px;
    text-align: center;
    font-size: 35px;
}

.container-form {
    margin: 5px auto;
    padding: 20px 30px;
    width: 48%;
    text-align: center;

    .dropdown {
        margin-top: 20px;
    }
}