.titulo-container {
    color: #76d0d4;
    margin-top: 15px;
    text-align: center;
    font-size: 35px;
}

.form-container {
    margin: 5px;
    padding: 20px 30px;
    text-align: center;

    .dropdown {
        margin-top: 20px;
    }
}