* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000fff;
    border-right: 16px solid #0cff00;
    border-bottom: 16px solid #ff0000;
    border-left: 16px solid #ffc0cb;
    height: 200px;
    margin: 250px auto;
    width: 200px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}