@media only screen and (max-width: 960px) { 
    .sidebar {
        ul {
            display: none;
        }
        .dropdown {
            margin: 20px auto;
            display: block;
        }
        .maps {
            height: 300px;
            width: 360px;
        }
    }

    .FechasButtons {

        .mainList{
            display: flex;
            justify-content: center;
            li {
                display: inline-block;
                list-style: none;
                text-decoration: none;
                color: rgb(255, 255, 255);
                margin: 0 10px;
                padding: 10px 15px;
                border-radius: 10%;
                &:hover{
                    background: #343a40;
                    color: #fff;
                }
            }
        }

        .band-card {
            margin-left: 20px;
            width: 360px;

            .cardsProfile {
                border-right: 2px solid #000000;;
            }

            .cardsRecitales {
                border: 0px;
                border-radius: 0%;
                border-bottom-right-radius: 0%;
                border-bottom-left-radius: 0%;

                .descripcion {
                    color: #fff;
                    margin-left: 10px;
                    text-align: center;
                    width: 290px;  
                }
            }
        }
    }
    
    .FechasButtons, .aside {
        margin: 10px 0px 10px 0px;
    }

    /* Aside */
    .aside {
        .bands {
            img {
                display: block;
                margin: auto;
            }

            i {
                margin-right: 30px;
            }
        }
    } 
}